body {
    background-color: #e6f3ff;
    padding: 0;
    margin: 0;
}

.tagline {
    color: blueviolet;
    font-style: italic;
}

img {
    float: right;
}

.pricetopic {
    font-size: 25px;
    font-weight: bold;
    padding-top: 20px;
}

.pricelist {
    border: 1px solid black;
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid black;
    text-align: left;
    padding: 10px;
}

footer {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 12px;
    padding: 10px;
    background-color: orange;
    color: black;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}
